//--------------------------------------------------------------------------------
//
// Space Station Manager
//
// Copyright 2002 Kai-Peter Baeckman, Mistaril Ltd.
//
//--------------------------------------------------------------------------------

//--------------------------------------------------------------------------------
// Resource file definition.

SHORTHIKEICON	ICON	"..\setup\icons\ShortHike.ico"
